<h2>Java</h2>
<button class="back">返回</button>
<ul class="menu">
    <li>
        <p>JDBC</p>
        <div class="desc">
            <h2>JDBC</h2>
            <h3>什么是JDBC</h3>
            <p>JDBC是SUN公司定义的标准，规定了统一的数据库访问方法。各大数据库厂商实现该标准，让java可以操作数据库。JDBC屏蔽了不同数据库之间的差异，一套接口可以操作多种数据库。</p>
            <h3>使用JDBC</h3>
            <dl class="accordion">
                <dt>JDBC基本用法</dt>
                <dd>
                    <pre class="code">package day01;
import java.sql.*;

public class jdbc01 {
    <span class="note">//参数提取出来</span>
    private static String url = "jdbc:mysql://localhost:3306/xz?<span class="note">serverTimezone=GMT";//系统和数据库时区差异</span>
    private static String user = "root";
    private static String password = "";
    private static String driver = "com.mysql.cj.jdbc.Driver";
    
    public static void main(String[] args) {
        
        Connection conn = null;
        Statement stmt = null;
        ResultSet rs = null;
        
        try {
            <span class="note">//(1)注册驱动</span>
            Class.forName(driver);
            <span class="note">//(2)拿到数据库的连接</span>
            conn = DriverManager.getConnection(url, user, password);
            System.out.println(conn);
            System.out.println(conn.getClass());
            <span class="note">//(3)创建statement对象</span>
            stmt = conn.createStatement();
            String sql = "SELECT * FROM xz_user WHERE uid&lt;10";
            <span class="note">//(4)执行sql语句</span>
            rs = stmt.executeQuery(sql);
            <span class="note">//(5)处理数据库返回的结果</span>
            while(rs.next()) {
                int uid = rs.getInt("uid");
                String uname = rs.getString("uname");
                System.out.println(uid+" "+uname);
                <span class="note">//留一个问题：如何将数据做成json?</span>
            }
        }catch(SQLException e) {
            e.printStackTrace();
        }
        catch(Exception e) {
            e.printStackTrace();
        }finally {
            try {
                rs.close();
                stmt.close();
                if(conn!=null)conn.close();
            } catch (SQLException e) {
                e.printStackTrace();
            }
        }
    }
}</pre>
                </dd>
                <dt>JDBC操作的封装</dt>
                <dd>
                    <p>将参数放到<span class="code">db.properties</span>文件中，实现代码的复用。通过参数的配置，我们可以很轻松的切换数据库、用户</p>
                    <pre class="code">package day01;

import java.io.IOException;
import java.io.InputStream;
import java.util.Properties;

public class jdbc02 {

    public static void main(String[] args) {
        
        Properties config = new Properties(); <span class="note">//创建Properties对象</span>
        InputStream in = jdbc02.class.getClassLoader().getResourceAsStream("db.properties"); <span class="note">//这里需要恶补一下反射</span>
        
        try {
            config.load(in);
        } catch (IOException e) {
            e.printStackTrace();
        }
        
        String driver   = config.getProperty("jdbc.driver");
        String user     = config.getProperty("jdbc.user");
        String password = config.getProperty("jdbc.password");
        String url      = config.getProperty("jdbc.url");
        
        System.out.println(driver);
        System.out.println(user);
        System.out.println(password);
        System.out.println(url);
    }
}
</pre>
                </dd>
            </dl>
        <h3>连接池技术</h3>
        <h3>相关小知识点</h3>
        <dl class="accordion">
            <dt>Properties</dt>
            <dd>
                
            </dd>
            <dt>ResultSet</dt>
            <dd>
                <p>ResultSet对象可用于封装sql语句查询的结果，使用游标控制数据。</p>
                <table>
                    <tr>
                        <td>Boolean next()</td>
                        <td>结果集游标下移，判断是否有数据</td>
                    </tr>
                    <tr>
                        <td>getInt("uname")</td>
                        <td></td>
                    </tr>
                </table>
                <p>数据库中数据类型对应java中获取的方法</p>
                <table>
                    <tr>
                        <td>char/varchar</td>
                        <td>getString()</td>
                    </tr>
                    <tr>
                        <td>int</td>
                        <td>getInt()</td>
                    </tr>
                    <tr>
                        <td>bigint</td>
                        <td>getLong()</td>
                    </tr>
                    <tr>
                        <td>float/double</td>
                        <td>getFloat()/getDouble()</td>
                    </tr>
                    <tr>
                        <td>datetime/timestamp</td>
                        <td>getDate()</td>
                    </tr>
                </table>
            </dd>
        </dl>
        </div>
    </li>
    <li>
        <p>JSP</p>
        <div class="desc">
            <h2>JSP</h2>
            <h3>JSP基础知识</h3>
            <p>所谓JSP（Java Server Page），就是用来在HTML文本中嵌入java代码，java代码经过计算动态生成一些数据，再插入到html中。不过这样写的坏处是，数据与表现层(html)耦合了，既不便于观察，也不利于维护。</p>
            <table>
                <tr>
                    <td>JSP脚本</td>
                    <td><pre class="code">&lt;% 
    String username = "wuchunxu";
    out.println(username); 
%&gt;</pre></td>
                </tr>
                <tr>
                    <td>JSP声明</td>
                    <td>
                        <p>声明的代码写在这里，后面可以调用。</p>
                        <span class="code">&lt;%! String username = "wuchunxu" %&gt;</span>
                    </td>
                </tr>
                <tr>
                    <td>JSP表达式</td>
                    <td>
                        <p>欢迎<span class="code">&lt;%=username %&gt;</span></p>
                        <p>angular中<span class="code">欢迎{{username}}</span>也是这个味儿！</p>
                    </td>
                </tr>
            </table>
           <h3>JSP页面的生命周期</h3>
            <h3>小例子(jsp 九九乘法表)</h3>
            <pre class="code">&lt;%! 
    public String timesTable(){
    
        StringBuilder sb = new StringBuilder();
        
        for(int i=1;i<10;i++){
            for(int j=1;j&lt;i+1;j++){
                sb.append(j+"*"+i+"="+i*j);
                sb.append("&nbsp;&nbsp;&nbsp;&nbsp;");
            }
            sb.append("&lt;br&gt;");
        }
        
        return sb.toString();
    }
%>
    
&lt;br>
&lt;h1>九九乘法表&lt;/h1>
&lt;hr/>
<%=timesTable() %>
&lt;hr/>
<%=timesTable() %></pre>
            <h3>JSP内置对象</h3>
            <p>JSP内置对象是WEB容器创建的一组对象</p>
            <dl class="accordion">
                <dt>out</dt>
                <dd>
                    <table>
                        <tr>
                            <td>void println()</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>vold clear();</td>
                            <td>flush()之后调用会抛异常</td>
                        </tr>
                        <tr>
                            <td>void clearBuffer();</td>
                            <td>flush()之后调用不抛异常</td>
                        </tr>
                        <tr>
                            <td>void flush();</td>
                            <td>将缓冲区内容输出</td>
                        </tr>
                        <tr>
                            <td>int getBufferSize();</td>
                            <td>获取缓冲区大小</td>
                        </tr>
                        <tr>
                            <td>int getRemaining();</td>
                            <td>剩余大小</td>
                        </tr>
                        <tr>
                            <td>boolean isAutoFlush();</td>
                            <td>void close();</td>
                        </tr>
                    </table>
                </dd>
                <dt>request</dt>
                <dd>
                    <table>
                        <tr>
                            <td>String getParameter(String name)</td>
                            <td>返回name对应的值</td>
                        </tr>
                        <tr>
                            <td>String[] getParameterValues()</td>
                            <td>返回包含参数name的所有值的数组</td>
                        </tr>
                        <tr>
                            <td>void setAttribute(String,Object)</td>
                            <td>加入键值对</td>
                        </tr>
                        <tr>
                            <td>Object getAttribute(String name)</td>
                            <td>返回指定属性的属性值</td>
                        </tr>
                        <tr>
                            <td>String getContentType()</td>
                            <td>得到请求体的MIME类型</td>
                        </tr>
                        <tr>
                            <td>String getProtocol()</td>
                            <td>协议类型及版本号</td>
                        </tr>
                        <tr>
                            <td>String getServerName()</td>
                            <td>返回接受请求的服务器主机名</td>
                        </tr>
                        <tr>
                            <td>setCharacterEncoding("utf-8")</td>
                            <td>接收前设置</td>
                        </tr>
                    </table>
                </dd>
                <dt>response</dt>
                <dd>
                    <table>
                        <tr>
                            <td>String getCharacterEncoding()</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>void setContentType(String type)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>PrintWriter getWriter()</td>
                            <td>返回一个可以像客户端输出字符的对象</td>
                        </tr>
                        <tr>
                            <td>sendRedirect(java.lang.String location)</td>
                            <td>重定向
                                <pre class="code">response.sendRedirect("index.jsp");</pre>
                            </td>
                        </tr>
                    </table>
                    <h5>请求转发和请求重定向的区别</h5>
                    <table>
                        <tr>
                            <td>请求重定向</td>
                            <td><p>客户端行为，response.sendRedirect(),本质上将等于两次请求，前一次的request不会保存，地址栏url会改变。</p></td>
                        </tr>
                        <tr>
                            <td>请求转发</td>
                            <td><p>服务器行为，request.getRequestDispatcher().forword(request,response);是一次请求，转发后request会保存，地址栏url不变</p></td>
                        </tr>
                    </table>
                </dd>
                <dt>session</dt>
                <dd>
                    <h5>session对象的常用方法</h5>
                    <table>
                        <tr>
                            <td><p>long getCreationTime()</p></td>
                            <td>返回session创建的时间</td>
                        </tr>
                        <tr>
                            <td><p>String getId();</p></td>
                            <td>返回Session创建时JSP引擎为它设置的唯一id</td>
                        </tr>
                        <tr>
                            <td><p>Object setAttribute(String name,Object value);</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><p>Object getAttribute(String name);</p></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td><p>String[] getValueNames();</p></td>
                            <td>返回所有可用的属性</td>
                        </tr>
                        <tr>
                            <td><p>int getMaxInactiveInterval();</p></td>
                            <td>返回session取消的间隔时长，单位是second</td>
                        </tr>
                        <tr>
                            <td><p>session.invalidate();</p></td>
                            <td>清除session对象。tomcat默认session过期时间为半小时，在web.xml中可以重新设置。文档中单位是minute。</td>
                        </tr>
                    </table>
                </dd>
                <dt>application</dt>
                <dd>
                    <p>(1)application对象实现了用户间数据的共享，存放全局变量。</p>
                    <p>(2)开始于服务器的启动，终止于服务器关闭。</p>
                    <p>(3)application对象是ServletContext类的实例</p>
                    <h5>常用方法</h5>
                    <table>
                        <tr>
                            <td>void setAttribute(String name,Object value);</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Object getAttribute(String name);</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Enumeration getAttributeNames();</td>
                            <td>返回所有可用属性的枚举。</td>
                        </tr>
                        <tr>
                            <td>String getServerInfo();</td>
                            <td>返回JSP引擎名及版本号</td>
                        </tr>
                    </table>
                </dd>
                <dt>Page</dt>
                <dd>
                    <h5>什么是？</h5>
                    <p>page对象指向当前页面本身，它是java.lang.Object类的实例。</p>
                </dd>
                <dt>pageContext</dt>
                <dd>
                    <p>该对象允许你访问jsp页面内所有对象；也可以访问本页面所在的session</p>
                </dd>
                <dt>exception</dt>
                <dd></dd>
                <dt>config</dt>
                <dd></dd>
            </dl>
            <h3>JavaBean</h3>
            <p>JavaBean是符合某种特定规范的Java类。(联想到js中有CommonJS规范)。使用JavaBean的好处是解决代码的重复编写，减少代码的冗余，功能区分明确，提高了代码的维护性。</p>
            <h4>JavaBean设计原则</h4>
            <p>(1)公有类；(2)public的无参构造方法；(3)属性私有化；(4)getter和setter访问器</p>
            <h3>JSP动作</h3>
            <p>JSP动作元素(action elements)，为请求处理阶段提供信息。它使用XML语法。</p>
            <h4>JSP动作元素分类</h4>
            <table>
                <tr>
                    <td>与存取JavaBean有关</td>
                    <td>
                        <pre class="code">&lt;jsp:useBean>&lt;jsp:setProperty>&lt;jsp:getProperty></pre>
                    </td>
                </tr>
            </table>
            <h3>如何在jsp中使用JavaBean</h3>
            <h4>当作普通java类，创建JavaBean实例</h4>
            <p>(1)首先，在Java Resource目录的src下创建Java类，类的编写遵循JavaBean的原则</p>
            <p>(2)jsp中导包:</p>
            <pre class="code"><span class="note"><%@ page import="com.po.User"  %></span></pre>
            <p>(3)初始化和使用</p>
            <pre class="code"><% 
    User user = new User();
    user.setUname("admin");
    user.setPassword("123456");
%>
用户名：<%= user.getUname()%>
&lt;br/>
密码： <%= user.getPassword() %></pre>
            <h4>使用动作标签</h4>
            <p>(1)创建实例</p>
            <pre class="code"><span class="note">//注意：无需手动引入User类</span>
&lt;jsp:useBean id="user" class="com.po.User" scope="page"/></pre>
            <p>(2)给实例化的JavaBean对象属性赋值</p>
            <p>下面property="*"表示匹配前端传递过来的所有信息，如果指定某个属性，如uname，表示只匹配uname，也就是uname会调用setUname()方法。</p>
            <pre class="code">&lt;jsp:setProperty name="user" property="*" />
用户名:<%= user.getUname() %>&lt;br/>
密码:<%= user.getPassword() %></pre>
            <p>(3)获取属性的值</p>
            <pre class="code">用户名:&lt;jsp:getProperty name="user" property="uname" /></pre>
            <h3>JavaBean作用域</h3>
            <table>
                <tr>
                    <td>page</td>
                    <td>仅在当前页面有效</td>
                </tr>
                <tr>
                    <td>request</td>
                    <td>HttpRequest.getAttribute();方法获取JavaBean对象</td>
                </tr>
                <tr>
                    <td>session</td>
                    <td>HttpSession.getAttribute();方法获取JavaBean对象</td>
                </tr>
                <tr>
                    <td>application</td>
                    <td>application.getAttribute();方法获取JavaBean对象</td>
                </tr>
            </table>
            <h3>Cookie</h3>
            <pre class="code">Cookie cookie = new Cookie(String key,Object value);
response.addCookie(cookie); <span class="note">//写入cookie对象</span>

<span class="note">//读取Cookie对象</span>
Cookie[] cookies = request.getCookies();
            </pre>
            <h3>include</h3>
            <h4>include指令</h4>
            <pre class="code">&lt;%@ include file="xxx.jsp" %></pre>
            <h4>include动作</h4>
            <pre class="code">&lt;jsp:include page="xxx.jsp" flush="false" /></pre>
            <h4>include指令和动作的区别</h4>
            <table>
                <tr>
                    <th></th>
                    <th>include指令</th>
                    <th>jsp:include动作</th>
                </tr>
                <tr>
                    <td>语法格式</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>发生作用的时间</td>
                    <td>页面转换期间</td>
                    <td>请求期间</td>
                </tr>
                <tr>
                    <td>包含的内容</td>
                    <td>文件的实际内容(代码)</td>
                    <td>页面的输出</td>
                </tr>
                <tr>
                    <td>编译时间</td>
                    <td>较慢</td>
                    <td>较快</td>
                </tr>
                <tr>
                    <td>执行时间</td>
                    <td>稍快</td>
                    <td>较慢</td>
                </tr>
            </table>
            <h3>forward动作</h3>
            <pre class="code">&lt;jsp:forward page="url">
<span class="note">//等同于：</span>
request.getRequestDispatcher("url").forward(request,response);
            </pre>
            <h3>param动作</h3>
            <pre class="code">&lt;jsp:param name="" value=""></pre>
        </div>
    </li>
    <li>
        <p>Servlet</p>
        <div class="desc">
            <h2>Servlet</h2>
            <h3>编写一个Servlet</h3>
            <p>(1)继承HttpServlet；(2)重写doGet()或doPost()方法；(3)在web.xml中注册Servlet</p>
            <h3>如何设置Servlet容器启动时自动加载某些Servlet</h3>
            <pre class="code">&lt;servlet>
    ...
    <span class="note">&lt;load-on-startup>1&lt;/load-on-startup></span>
&lt;/servlet></pre>
            <p>数字越小，表示加载的优先级越高</p>
            <h3>路径</h3>
            <h4>web.xml</h4>
            <pre class="code">&lt;servlet>
    &lt;servlet-name>MyServlet&lt;/servlet-name>
    &lt;servlet-class>servlet.MyServlet&lt;/servlet-class>
&lt;/servlet>
&lt;servlet-mapping>
    &lt;servlet-name>MyServlet&lt;/servlet-name>
    &lt;url-pattern><span class="note">/servlet/MyServlet</span>&lt;/url-pattern> <span class="note">//这里"/"表示项目的根目录，不能省略</span>
&lt;/servlet-mapping></pre>
        </div>
    </li>
    <li>
        <p>maven</p>
        <div class="desc">
            <h2>常用的maven依赖信息</h2>
            <h3>如何将Java工程转成maven项目</h3>
            <p>右键该工程--configure--convert to maven project。在pom.xml中添加依赖。</p>
            <h3>JSONObject.jar</h3>
            <pre class="code">&lt;dependency>
    &lt;groupId>net.sf.json-lib&lt;/groupId>
    &lt;artifactId>json-lib&lt;/artifactId>
    &lt;version>1.1&lt;/version>
    &lt;classifier>jdk13&lt;/classifier>
&lt;/dependency></pre>
        </div>
    </li>
    <li>
        <p>Spring</p>
        <div class="desc">
            <h2>Spring</h2>
            <h3>一些基本概念</h3>
            <h4>容器</h4>
            <p><strong>容器是一种环境，在该环境中，所有组件都被创建和装配，并且提供了所需的中间件服务。</strong>例如，Servlet容器负责创建和管理web层的组件(Servlet、JSP、Filter)。EJB容器负责管理业务层的EHB组件。容器提供的服务有：</p>
            <table>
                <tr>
                    <td>1</td>
                    <td>生命周期管理</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>依赖解析</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>组件查找</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>应用程序配置</td>
                </tr>
            </table>
            <p>Spring是一个轻量级容器，具有容器的功能并提供中间件服务，但没有侵入性。</p>
            <h4>控制反转</h4>
            <blockquote>在组件类中，实例化其依赖的组件不再用new来创建，而是交给容器负责，运行时由容器注入依赖。这样，控制权由组件转到容器的模式转换称为<strong>控制反转(Inversion of Control,IoC)。</strong></blockquote>
            <div class="comment">
                为什么要控制反转呢？我们想想，控制反转使得组件类不再需要知道它依赖的类的路径，这样解决了硬编码的问题。对于组件类，只要知道需要哪些依赖，而不必自己去实例化，进一步降低了组件与外界的耦合性。
            </div>
            <p>实现控制反转有2种形式：依赖查找和依赖注入。依赖注入用的更多，当谈到控制反转，基本上就是依赖注入。</p>
            <h4>依赖注入</h4>
            <p>依赖注入的方式有2个：构造函数注入和setter方法注入。</p>
            <h3>使用Spring</h3>
            <p>Spring的核心是IoC容器，它的职责包括：对象的实例化、初始化、装配以及在对象的生命周期中提供其他Spring功能。这些被管理的对象叫Bean。</p>
            <h4>配置元数据</h4>
            <p>Spring要想管理这些Bean，需要知道：(1)有哪些Bean可以管理；(2)如何管理。这些信息就是元数据。配置元数据的方式包括：(1)基于XML、(2)基于注解(annotation)、(3)基于Java。</p>
            <dl class="accordion">
                <dt>基于XML</dt>
                <dd>
                    <pre class="code">&lt;?xml version="1.0" encoding="UTF-8"?>
&lt;beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context" 
    xmlns:jdbc="http://www.springframework.org/schema/jdbc"  
    xmlns:jee="http://www.springframework.org/schema/jee" 
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop" 
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:jpa="http://www.springframework.org/schema/data/jpa"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
        http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd">
    <span class="note">&lt;bean id="date" class="java.util.Date">&lt;/bean></span>
&lt;/beans></pre>
                </dd>
                <dt>基于注解</dt>
                <dd></dd>
                <dt>基于Java</dt>
                <dd></dd>
            </dl>
        </div>
    </li>
</ul>