<h2>Vue</h2>
<button class="back">返回</button>
<ul class="menu">
    <li>
        <p>Vue的使用日常</p>
        <div class="desc">
            <h2>Vue的使用日常</h2>
            <h3>vue-cli的安装和使用</h3>
            <h4>全局安装vue-cli构建工具</h4>
            <pre class="code">npm i -g vue-cli</pre>
            <h4>创建一个新的vue项目</h4>
            <pre class="code">vue init webpack myapp
npm i <span class="note">//安装依赖</span>
npm start <span class="note">//npm run dev</span></pre>
            <h4>打包</h4>
            <pre class="code">npm run build</pre>
            <h3>ESlint</h3>
            <h4>去掉一些很烦的“假错误”提示</h4>
            <p>在<span class="code">.eslintrc.js</span>配置文件中添加自己的规则：(这里的数字：0表示不不处理，1表示警告，2表示错误并退出)</p>
            <pre class="code">rules: {
    // allow async-await
    'generator-star-spacing': 'off',
    // allow debugger during development
    'no-debugger': process.env.NODE_ENV === 'production' ? 'error' : 'off',
    "space-before-function-paren": [0, "always"],<span class="note">//括号前面是否要空格</span>
    "quotes": [0, "single"],<span class="note">//单双引号</span>
    "semi": [0, "always"],<span class="note">//语句强制分号结尾</span>
            
    }</pre>
            <h3>使用scss</h3>
            <h4>安装node-sass和样式类加载器</h4>
            <pre class="code">npm i node-sass --save-dev <span class="note">//安装sass</span>
npm i sass-loader style-loader css-loader --save-dev <span class="note">//安装加载器</span></pre>
            <h4>配置文件中指定加载器(vue2.x)</h4>
            <p>在<span class="note">build/webpack.base.conf.js</span>中添加：</p>
            <pre class="code">{
    test: /\.scss$/,
    loaders: ["style", "css", "sass"]
}</pre>
            <h4>使用--在style标签添加参数(vue2.x)</h4>
            <pre class="code">&lt;style <span class="note">lang="scss"</span> scoped="scoped">&lt;/style></pre>
            <h3>设置代理(跨域开发)</h3>
            <p>在config/index.js文件中：</p>
            <pre class="code">dev:{
    <span class="note">proxyTable: {
        "/": {
            "target": "http://20.255.48.2:9002",
            "changeOrigin": true,
            "secure": false
        }
    },</span>    
}</pre>
            <h3>设置favicon.ico</h3>
            <p>将favicon.ico文件放在static文件夹下，然后设置：</p>
            <pre class="code">&lt;link rel="shortcut icon" type="image/x-icon" href="./static/favicon.ico" rel="external nofollow" /></pre>
            
        </div>
    </li>
    <li>
        <p>指令</p>
        <div class="desc">
            <h2>指令</h2>
            <p>指令，其实就是扩展了html的标签属性</p>
            <h3>选择指令<span class="code">(v-if/v-else-if/v-else)</span></h3>
            <pre class="code">&lt;div id="app">
    &lt;h2>星期&lt;/h2>
    &lt;ul>
        &lt;li v-if="day==0">星期日&lt;/li>
        &lt;li v-else-if="1">星期一&lt;/li>
        ...
        &lt;li v-else>请输入正确的星期&lt;/li>
    &lt;/ul>
&lt;/div></pre>
            <h3>循环指令<span class="code">(v-for)</span></h3>
            <pre class="code">&lt;div id="app">
&lt;ul>&lt;li v-for="(ele,i) in arr">{{"["+i+"]"+ele}}&lt;/li>&lt;/ul>
&lt;/div>
<span class="note">//javascript</span>
new Vue({
    el: "#app",
    data: {
        msg: "Hello Vue",
        arr: [100,200,300]
    }
});</pre>
            <h3>事件绑定指令<span class="code">(v-on:click/@click)</span></h3>
            <p><span class="code">v-on:click="handler(parm)"</span>，事件绑定指令有语法糖：<span class="code">@click="handler(parm)"</span></p>
            <h4>事件修饰符<span class="code">@click[.stop/.prevent]</h4>
            <table>
                <tr>
                    <td>阻止默认行为</td>
                    <td><span class="code">&lt;a href="#" v-on:click.prevent="handler" &lt;/a></span></td>
                </tr>
                <tr>
                    <td>阻止冒泡</td>
                    <td><span class="code">&lt;a href="#" v-on:click.stop="handler" &lt;/a></span></td>
                </tr>
            </table>
            <pre class="code">&lt;div id="app">
    &lt;h2>{{msg}}&lt;/h2>
    &lt;button v-on:click="handleClick('hello vue')">点我&lt;/button>
&lt;/div>
            
<span class="note">//javascript</span>
new Vue({
    el: "#app",
    data: {
        msg: "Hello Vue"
    },
    <span class="note">//methods用于存放函数</span>
    methods:{
        handleClick:function(str){
            console.log(str);
        }
    }
});</pre>
            <h3>属性绑定<span class="code">(v-bind:src/:src)</span></h3>
            <h4>普通属性绑定<span class="code">(v-bind:src="exp")</span></h4>
            <pre class="code">&lt;img v-bind:src="expression">
&lt;img :src="expression"><span class="note">//对应语法糖</span></pre>
            <h4>style属性和class绑定<span class="code">(:class="box:isBox,red:isRed")</span></h4>
            <p>等号后面是一个对象，isRed是布尔型变量，控制<span class="code">.red</span>是否渲染</p>
            <pre class="code">&lt;p v-bind:style="{background:myColor,fontSize:mySize}" &lt;/p>
&lt;p v-bind:class="{red:isRed,italic:isItalic}" &lt;/p></pre>
            <h3>双向数据绑定<span class="code">(v-model)</span></h3>
            <p>双向数据绑定<strong>只能在表单中使用</strong>，使用<span class="code">v-model</span>指令</p>
            <table>
                <tr>
                    <td>v-model</td>
                    <td>v-model="msg"</td>
                </tr>
                <tr>
                    <td>v-model.number</td>
                    <td>修饰符，将里面的值转为数值型</td>
                </tr>
            </table>
            <h3><span class="code">v-html/v-text</span></h3>
            <table>
                <tr>
                    <td>v-html</td>
                    <td>将html字符串渲染成html标签</td>
                </tr>
                <tr>
                    <td>v-text</td>
                    <td>以文本形式插入，效果同{{}}</td>
                </tr>
            </table>
           <h3>v-if和v-show的区别</h3>
           <table>
               <tr>
                   <td>相同点</td>
                   <td>false不显示，true显示</td>
               </tr>
               <tr>
                   <td>不同点</td>
                   <td>v-if如果为false不渲染内容，而v-show值为false时，渲染内容，但是添加display:none;</td>
               </tr>
           </table>

        </div>
    </li>
    <li>
        <p>组件</p>
        <div class="desc">
            <h2>组件</h2>
            <h3>组件的使用</h3>
            <h4>创建组件</h4>
            <pre class="code">Vue.component("my-component",{
    template:"&lt;h3>This is a component.&lt;/h3>"
});</pre>
            <h4>调用组件</h4>
            <pre class="code">&lt;my-component>&lt;/my-component></pre>
            <h4>注意事项</h4>
            <p>(1)每个组件只能有一个根标签</p>
            <p>(2)组件创建位置一定要在实例化一个vue对象之前。</p>
           
            <h3>组件之间的通信</h3>
            <p>每个组件有自己的作用域，不同的组件不可以随便获取到对象的数据。不同组件之间传递消息的方式也不同。</p>
            <h4>父子通信(父-->子)</h4>
            <p>父组件向子组件通信可以通过props属性来完成，什么意思呢，请看如下代码：</p>
            
            <pre class="code"><span class="note">//父组件</span>
Vue.component("parent",{
    template:`&lt;div>
        &lt;child <span class="note">title="标题01" id="1" v-bind:parentmsg="msg"</span>>&lt;/child>
        &lt;child <span class="note">title="标题02" id="2" v-bind:parentmsg="msg"</span>>&lt;/child>
    &lt;/div>`,
    data:function(){
        return {
            msg: "父组件的消息"
        }
    }
});
<span class="note">//子组件</span>
Vue.component("child",{
    template:`&lt;h2>[{{id}}]{{title}}{{parentmsg}}&lt;/h2>`,
    <span class="note">props:['title','id','parentmsg']</span>
});
new Vue({
    el:"#app"
});
            </pre>
            <p><strong>在父组件的template中，给子组件标签绑定元素title和id，它们会被存放到子组件的props属性中，该属性是一个数组，于是子组件可以从该数组获取父组件传递过来的数据。</strong></p>
            <h4>父子通信(子-->父)</h4>
            <p>父组件使用props传递数据给子组件，子组件向父组件传递数据需要使用自定义事件。过程是这样的，子组件标签绑定一个自定义事件，当子组件需要发数据的时候，触发该自定义事件。</p>
<pre class="code"><span class="note">//父组件</span>
Vue.component("parent",{
    template:`&lt;div >
        &lt;h2>父组件&lt;/h2>
        &lt;p v-for="ele in msgs">{{ele}}&lt;/p>
        &lt;child <span class="note">v-on:message="receive($event)"</span>>&lt;/child>
    &lt;/div>`,
    data:function(){
        return {
            msgs:[]
        }
    },
    methods:{
        receive:function(data){
            this.msgs.push(data);
        }
    }
});
<span class="note">//子组件</span>
Vue.component("child",{
    template:`&lt;div>
        &lt;h3>子组件&lt;/h3>
        &lt;input type="text" v-model="msg"/>
        &lt;input type="button" v-on:click="send" value="发送"/>
    &lt;/div>`,
    data:function(){
        return {
            msg:""
        }
    },
    methods:{
        send:function(){
            <span class="note">this.$emit("message",this.msg);</span>
        }
    }
});
    new Vue({
        el: "#app",
        data: {
            msg: "Hello Vue"
        }
    });</pre>
            <h4>打通父子通信</h4>
            <p>ref用来给元素或子组件注册引用信息，而引用信息注册在父组件的$refs对象上。若在普通DOM元素上使用，引用指向DOM元素；若使用于子组件，引用指向组件实例。</p>
            <p>通过该方法，<strong>父组件可以调用子组件的方法，子组件也可以调用父组件的方法。</strong></p>
<pre class="code"><span class="note">//父组件</span>
Vue.component("parent",{
    data:function(){
        return{
            msg: "我是父亲"
        }
    },
    template:`&lt;div>
        &lt;h1>父组件&lt;/h1>
        &lt;child <span class="note">ref="son"</span>>&lt;/child>
    &lt;/div>`,
    mounted:function(){
        console.log(<span class="note">this.$refs.son.msg</span>);
    }
});
<span class="note">//子组件</span>
Vue.component("child",{
    data:function(){
        return {
            msg: "我是孩子"
        }
    },
    template:"&lt;h2>子组件&lt;/h2>",
    mounted:function(){
        console.log(<span class="note">this.$parent.msg</span>);
    }
});</pre>
        <h4>兄弟组件的通信</h4>
<pre class="code"><span class="note">var bus = new Vue();</span>
    Vue.component("component-01",{
        template:`&lt;div>
            &lt;h2>组件01&lt;/h2>
            &lt;p v-for="ele in receive">{{ele}}&lt;/p>
            &lt;input type="text" v-model="msg"/>
            &lt;button v-on:click="send">发送&lt;/button>
        &lt;/div>`,
        data:function(){
            return {
                msg:"",
                receive:[]
            }
        },
        beforeCreate:function(){
            <span class="note">bus.$on("accept-msg",(payload)=>{
                this.receive.push(payload);
            });</span>
        },
        methods:{
            send:function(){
                <span class="note">bus.$emit("accept-msg-from-1",this.msg);</span>
            }
        }
    });
    Vue.component("component-02",{
        template:`&lt;div>
            &lt;h2>组件2&lt;/h2>
            &lt;p v-for="ele in receive">{{ele}}&lt;/p>
            &lt;input type="text" v-model="msg"/>
            &lt;button v-on:click="send">发送&lt;/button>
        &lt;/div>`,
        data:function(){
            return {
                msg:"",
                receive:[]
            }
        },
        beforeCreate:function(){
            bus.$on("accept-msg-from-1",(data)=>{
                this.receive.push(data);
            });
        },
        methods:{
            send:function(){
                bus.$emit("accept-msg",this.msg);
            }
        }
    });
    new Vue({
        el: "#app",
        data: {
            msg: "Hello Vue"
        }
    });</pre>
        </div>
    </li>
    <li>
        <p>生命周期</p>
        <div class="desc">
            <h2>生命周期</h2>
            <h3>生命周期钩子函数</h3>
            <table>
                <tr>
                    <td>beforeCreate</td>
                    <td>基本初始化，未初始化数据</td>
                </tr>
                <tr>
                    <td>created</td>
                    <td>初始化data中的数据</td>
                </tr>
                <tr>
                    <td>beforeMount</td>
                    <td>挂载前</td>
                </tr>
                <tr>
                    <td>mounted</td>
                    <td>挂载完成</td>
                </tr>
                <tr>
                    <td>beforeUpdate</td>
                    <td>更新前</td>
                </tr>
                <tr>
                    <td>updated</td>
                    <td>更新完成</td>
                </tr>
                <tr>
                    <td>beforeDestroy</td>
                    <td>销毁前</td>
                </tr>
                <tr>
                    <td>destroyed</td>
                    <td>销毁完成</td>
                </tr>
            </table>
            <h3>请求数据</h3>
            <pre class="code"><span class="note">//安装axios</span>
npm install --save axios vue-axios</pre>
            <img style="width:100%;" src="./images/vue-lifecycle.png" alt="">
            <h3>组件的相关属性</h3>
            <table>
                <tr>
                    <td>templates</td>
                    <td></td>
                </tr>
                <tr>
                    <td>data</td>
                    <td></td>
                </tr>
                <tr>
                    <td>methods</td>
                    <td></td>
                </tr>
                <tr>
                    <td>directives</td>
                    <td></td>
                </tr>
                <tr>
                    <td>filters</td>
                    <td></td>
                </tr>
                <tr>
                    <td>components</td>
                    <td></td>
                </tr>
                <tr>
                    <td>lifecycle hook(8个)</td>
                    <td></td>
                </tr>
                <tr>
                    <td>watch</td>
                    <td>用来监听数据的变化(v-model)</td>
                </tr>
                <tr>
                    <td>computed</td>
                    <td>计算属性，常用于一些复杂的业务逻辑，带有缓存功能</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <p>数据流动</p>
        <div class="desc">
            <h2>数据流动</h2>
            <h3>父组件到子组件的数据流动</h3>
            <blockquote>
                <p>不管是Angular、React还是Vue，通常，父组件向子组件传递数据都是通过属性来完成的。</p>
            </blockquote>
            <h4>流程</h4>
            <table>
                <tr>
                    <td>父组件data中存放数据</td>
                    <td>
                        <pre class="code">data(){
    return {
        data4kid:'data for child component'
    }                            
}</pre>
                    </td>
                </tr>
                <tr>
                    <td>模板中，通过v-bind将数据传给子组件</td>
                    <td>
                        <pre class="code">&lt;child v-bind:dataFromDad="data4kid"/></pre>
                    </td>
                </tr>
                <tr>
                    <td>子组件的“登记本”上需要记录父组件传递哪些数据</td>
                    <td>
                        <pre class="code">props:['dataFromDad']</pre>
                    </td>
                </tr>
                <tr>
                    <td>子组件使用已登记的数据</td>
                    <td>
                        <pre class="code">{{this.dataFromDad}}</pre>
                    </td>
                </tr>
                <tr>
                    <td>监听“登记本”上数据的变化</td>
                    <td>
                        <pre class="code">watch:{
    dataFromDad(){
        console.log('数据更新了：'+this.dataFromDad)
    }                            
}</pre>
                    </td>
                </tr>
            </table>
           
            <table>
                <tr>
                    <td>Angular</td>
                    <td>
                        <p>ngOnChanges(changes:SimpleChanges){}钩子函数监听了Input()数据的变化</p>
                    </td>
                </tr>
                <tr>
                    <td>React</td>
                    <td>
                        <p>无需手动监控，原因不清楚，可能和immutable有关。</p>
                    </td>
                </tr>
                <tr>
                    <td>Vue</td>
                    <td>
                        <p>在watch中声明监听属性的变化。从这一点来看，Vue更像Angular</p>
                    </td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <p>自定义指令和过滤器</p>
        <div class="desc">
            <h2>自定义指令</h2>
            <h3>自定义指令</h3>
            <p>除了默认设置的核心指令，Vue也允许注册自定义指令。在Vue2.0里，代码复用主要形式和抽象是组件。但是，有些情况，仍然需要对纯DOM元素进行底层操作，这时就会用到自定义指令。</p>
            <p>指令定义函数提供了几个钩子函数(可选)：</p>
            <table>
                <tr>
                    <td>bind</td>
                    <td><p>指令第一次绑定到元素时调用，只调用一次，该函数用于定义绑定时执行的初始化动作。</p></td>
                </tr>
                <tr>
                    <td>inserted</td>
                    <td><p>被绑定元素插入到父节点时调用（父节点存在即可，不必存在于document中）</p></td>
                </tr>
                <tr>
                    <td>update</td>
                    <td>被帮顶元素所在模板更新时调用，而不论绑定值是否变化。通过比较更新前后绑定值，可以忽略不必要的模板更新。</td>
                </tr>
                <tr>
                    <td>unbind</td>
                    <td>只调用一次，指令与元素解绑时调用。</td>
                </tr>
            </table>
            <h4>全局自定义指令</h4>
            <pre class="code">Vue.directive("focus",{
    <span class="note">//bind钩子函数，第一次绑定时执行</span>
    bind:function(ele,bindings){
        <span class="note">//ele：当前绑定元素；
        //bindings：指令相关信息对象</span>
    },
    <span class="note">//update钩子函数，数据更新时执行</span>
    update:function(){},
    <span class="note">//inserted钩子函数，挂载到页面时执行</span>
    inserted:function(ele){
        ele.focus();
    }
});
</pre>
            <h4>局部自定义指令</h4>
            <pre class="code">new Vue({
    directives:{
        "color":{
            bind:function(){

            }
        }
    }
});</pre>
        <h3>自定义过滤器</h3>
        <p>过滤器的本质是有返回值的函数。</p>
<pre class="code"><span class="note">/******HTML*******/</span>
&lt;div id="app">
    &lt;h2>{{msg | upperCase}}&lt;/h2>
    &lt;h3>{{msg | lowerCase}}&lt;/h3>
&lt;/div>
<span class="note">/******javascript*******/</span>
new Vue({
    el: "#app",
    data: {
        msg: "Hello Vue"
    },
    filters:{
        upperCase:function(str){
            return str.toUpperCase();
        },
        lowerCase:function(str){
            return str.toLowerCase();
        }
    }
});</pre>
        </div>
    </li>
    <li>
        <p>路由</p>
        <div class="desc">
            <h2>路由</h2>
            <h3>什么是路由</h3>
            <p>构建web单页面应用(Single Page Application,SPA)需要使用<em>组件</em>和<em>路由</em>。所谓路由，是用来设定访问路径，将路径和组件映射起来。</p>
            <p>传统页面应用，是用一些超链接来实现页面的切换和跳转，而Vue构建的单页面应用中，则是路径之间的切换，也就是<strong>组件的切换</strong>。</p>
            <h3>使用路由</h3>
            <p>route:路线，路由；router:路由器</p>
            <pre class="code"><span class="note">//(1)首先指定一个盛放组件的容器(HTML中)</span>
&lt;router-view>&lt;/router-view>
<span class="note">//(2)创建组件</span>
var login = Vue.component("login-component",{...});
var register = Vue.component("register-component",{...});
<span class="note">//(3)创建路由对象，并配置路由</span>
var router = new VueRouter({
    routes:[
        <span class="note">{path:"/",redirect:"/login"}</span>,//重定向
        {path:"/login",component:login},
        {path:"/register",component:register}
    ]
});
<span class="note">//(4)将路由注册到应用中</span>
new Vue({
    el:"#app",
    router:router
});
</pre>
            <h3>工作步骤</h3>
            <p>解析路径</p>
            <p>根据路径找到对应组件</p>
            <p>ajax获取数据</p>
            <p>将数据渲染到页面中</p>
            <h3>路由跳转</h3>
            <h4>路由标签</h4>
            <pre class="code">&lt;router-link to="/login">登录&lt;/router-link></pre>
            <h4>通过js跳转</h4>
            <p>通过一个点击事件执行如下代码：</p>
            <pre class="code">this.$router.push("/login")</pre>
            <h3>路由中传递参数</h3>
            <p>传递： /detail/1</p>
            <p>接收： 在路由配置中 path: "/detail/:id"</p>
            this.$route.parms.id
            <h3>router单词汇总</h3>
            <table>
                <tr>
                    <td>routes</td>
                    <td>路由，配置路由时使用</td>
                </tr>
                <tr>
                    <td>router</td>
                    <td>路由器，路由实例，注册路由时使用</td>
                </tr>
                <tr>
                    <td>$router</td>
                    <td>路由跳转，this.$router.push("/")</td>
                </tr>
                <tr>
                    <td>$route</td>
                    <td>获取参数，this.$route.params.id</td>
                </tr>
            </table>
        </div>
    </li>
    <li>
        <p>过渡动画</p>
        <div class="desc">
            <h2>过渡动画</h2>
            <p>Vue在插入、更新或者移除DOM时，提供多种不同方式的应用过渡效果。</p>
            <table>
                <tr>
                    <td><span class="code">.v-enter</span></td>
                    <td>定义过渡的开始状态，元素插入时生效。</td>
                </tr>
                <tr>
                    <td><span class="code">.v-enter-active</span></td>
                    <td>定义过渡的状态。在元素整个过渡过程中起作用，元素插入时生效，在transition/animation完成之后移除。</td>
                </tr>
                <tr>
                    <td><span class="code">.v-enter-to</span></td>
                    <td>定义过渡的结束状态。在元素被插入一帧后生效。</td>
                </tr>
            </table>
            需要切换的部分放在transition标签之间
            设置动画的样式

        </div>
    </li>
    <li>
        <p>请求资源</p>
        <div class="desc">
            <h2>请求资源</h2>
            <h3>Vue中请求资源</h3>
            <p>Vue中借助vue-resource模块来进行异步请求或跨域请求。</p>
            <h3>使用vue-resource插件</h3>
            <p>引入插件</p>
<pre class="code"> this.$http.get("http://localhost/vue/day04/data/productlist.php")
.then((data)=>{
    console.log(data.body);
});</pre>
        </div>
    </li>
</ul>